# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.venv-1/
venv/
env/
ENV/

# Model checkpoints and cache
checkpoints/
hf_cache/

# OS/IDE metadata
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs & temp files
*.log
val
